name: Deploy
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Check File
        run: |
          ls
          #pm2 delete name react
          pm2 start "npm start" --name react
        
