name: Deploy
on: 
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened] 
    
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Prepare Application
        run: |
          ls
          pwd
          npm install -f
          pm2 delete react
          pm2 start "npm start" --name react

    
      - name: SonarQube Scan
        uses: kitabisa/sonarqube-action@v1.2.0
       
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
